/* Estilo para Productos - Accesorios */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.btn-primary{
    background-color: #dfc8a5;
    color: #8c140b;
    font-weight: bold;
    border: none;    
}

.btn-primary:hover {
    color: #fff;
    background-color: #dfc8a5;
    border-color: #8c140b;
}

.btn__accesorios{
    cursor:pointer;
      position:relative;
      padding:10px 20px;
      background:white;
      font-size:1.2rem;
      border-top-right-radius:10px;
      border-bottom-left-radius:10px;
      transition:all 1s;
      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all 1s;
        }
      &:after{
        top:-   1px;
        left:-1px;
        border-top:5px solid #dfc8a5;
        border-left:5px solid #8c140b;
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid #8c140b;
        border-right:5px solid #dfc8a5;
      }
      &:hover{
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;

        &:before,&:after{
          width:100%;
          height:100%;
        }
      }
    }
