/* Estilos para pagina de Productos - Calzado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-caption{
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
}