/* ESTILOS PARA REDES SOCIALES FOOTER */
.social__icons__footer {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    justify-content: center;
}

.social__image__footer {
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    border-radius: 5px;
}

footer{
    margin-top: 3.5rem;
}
