<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- DESCRIPCION DEL SITIO WEB -->
    <meta name="description"
        content="Compostura de calzado en Villa Ballester. Plantillas ortopedicas, articulos regionales, mates, termos y más" />
    <!-- PALABRAS CLAVE PARA BUSCADORES -->
    <meta name="keywords"
        content="compostura de calzado, regionales, plantillas ortopedicas, mates, bombillas, arreglo de equipaje, bolsos, mochilas, villa ballester" />
    <!-- META PARA ROBOTS BUSCADORES -->
    <meta name="robots" content="index,follow" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../assets/images/logo_california.png" type="Logo California Zapatero">
    <!-- Titulo del Sitio -->
    <title>California Zapatero - Accesorios</title>
    <script src="https://kit.fontawesome.com/9316c69995.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,300&display=swap"
        rel="stylesheet">
    <!-- Link a pagina de estilos para Awesome On Scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Link a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../css/style.css" rel="stylesheet">
</head>

<body>
    <!-- INICIO HEADER -->
    <header>
        <div class="container">
            <div class="social__icons__header fixed-top justify-content-end">
                <a href="https://instagram.com/californiazapatero" target="_blanck"><img class="social__image__header"
                        src="../../../assets/images/instagram.png" alt="Instagram" /></a>
                <a href="https://facebook.com/californiazapatero" target="_blank"><img class="social__image__header"
                        src="../../../assets/images/facebook.png" alt="Facebook" /></a>
                <a href="#" target="_blank">
                    <img class="social__image__header" src="../../../assets/images/whatsapp.png" alt="Whatsapp" /></a>
                <a href="mailto:californiazapatero@gmail.com" target="_blank">
                    <img class="social__image__header" src="../../../assets/images/email.png" alt="Email" /></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top m-auto">
            <div class="container-fluid">
                <a href="../../../"> <img src="../../../assets/images/logo_california.png" a class="navbar__brand">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../../">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../calzado">Calzado</a></li>
                                <li><a class="dropdown-item" href="../accesorios">Accesorios</a></li>
                                <li><a class="dropdown-item" href="../regionales">Mates y Regionales</a>
                                </li>
                                <li>
                            </ul>
                        <li class="nav-item">
                            <a class="nav-link" href="../../servicios">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../quienes_somos">Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../contacto">Contacto</a>
                        </li>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- INICIO MAIN -->
    <main>
        <h1>
            <p class="text-center" margin-top:1rem>Accesorios</p>
        </h1>
        <div class="data-container">
            <div class="row text-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__brillo01.jpg" class="card-img-top"
                            alt="Brillo para cuero marca Wassington">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample1" role="button" aria-expanded="false"
                                    aria-controls="collapseExample1">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body">
                                        Brillo instantáneo para cuero en aerosol marca Wassington. Sirve para todos los
                                        colores, no requiere cepillado.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__cepillos01.jpg" class="card-img-top"
                            alt="Cepillos para mantener tu calzado impecable">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample2" role="button" aria-expanded="false"
                                    aria-controls="collapseExample2">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body">
                                        Variedad en cepillos para cuidar y mantener tu calzado.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__estirador01.jpg" class="card-img-top"
                            alt="Estirador de calzado marca Wassington">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample3" role="button" aria-expanded="false"
                                    aria-controls="collapseExample3">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                        Estirador de calzado marca Wassington. Apto para todos los colores.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__impermeabilizador01.jpg" class="card-img-top"
                            alt="Liquido impermeabilizador marca Wassington">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample4" role="button" aria-expanded="false"
                                    aria-controls="collapseExample4">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample4">
                                    <div class="card card-body">
                                        Impermeabilizante líquido para calzado marca Wassington. No dejes que la lluvia
                                        o salpicaduras arruinen tu calzado.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__limpiador__cuero01.jpg" class="card-img-top"
                            alt="Limpiador de cuero marca Wassington">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample5" role="button" aria-expanded="false"
                                    aria-controls="collapseExample5">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample5">
                                    <div class="card card-body">
                                        Limpiador de cuero incolor marca Wassington. Remueve las marcas de tu ropa y
                                        calzado de cuero.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__limpiador__gamuza01.jpg" class="card-img-top"
                            alt="Limpiador para gamuzas y nobuck marca Wassington">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample6" role="button" aria-expanded="false"
                                    aria-controls="collapseExample6">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample6">
                                    <div class="card card-body">
                                        Limpiador para gamuza y nobuck marca Wassington.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__limpiador__rex01.jpg" class="card-img-top"
                            alt="Limpiador textil marca Rex">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample7" role="button" aria-expanded="false"
                                    aria-controls="collapseExample7">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample7">
                                    <div class="card card-body">
                                        Quitamanchas instantáneo en aerosol Rex. No deja aureola.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__pegasus__cordones01l.jpg" class="card-img-top"
                            alt="Variedad en cordones">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample8" role="button" aria-expanded="false"
                                    aria-controls="collapseExample8">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample8">
                                    <div class="card card-body">
                                        Variedad en cordones! Todos los colores, largos, y tipo.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__plantilllas01.jpg" class="card-img-top"
                            alt="Plantillas deportivas">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample9" role="button" aria-expanded="false"
                                    aria-controls="collapseExample9">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample9">
                                    <div class="card card-body">
                                        Plantillas deportivas para tus zapatillas.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__plantilllas02.jpg" class="card-img-top"
                            alt="Plantillas de cuero y media plantilla">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample10" role="button" aria-expanded="false"
                                    aria-controls="collapseExample10">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample10">
                                    <div class="card card-body">
                                        Plantillas de cuero y media plantilla. No sufras al usar tu calzado preferido.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__renovador01.jpg" class="card-img-top"
                            alt="Renovador de cueros marca Rex">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample11" role="button" aria-expanded="false"
                                    aria-controls="collapseExample11">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample11">
                                    <div class="card card-body">
                                        Renovador para gamuza y nobuck en aerosol marca Wassington.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-1 mb-1">
                    <div class="card">
                        <img src="../../../assets/images/accesorios__engrasado01.jpg" class="card-img-top"
                            alt="Engrasador de cueros marca Rex">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="btn__accesorios btn-primary" data-bs-toggle="collapse"
                                    href="#collapseExample12" role="button" aria-expanded="false"
                                    aria-controls="collapseExample12">
                                    Ver más
                                </a>
                                <div class="collapse" id="collapseExample12">
                                    <div class="card card-body">
                                        Revitalizador de cuero engrasado en aerosol marca Wassington. Apto para todos
                                        los colores.
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>

    <!-- INICIO FOOTER -->
    <footer>
        <!-- Footer Social Icons -->
        <div class=" social__icons__footer">
            <a href="https://instagram.com/californiazapatero" target="_blanck"><img class="social__image__footer"
                    src="../../../assets/images/instagram.png" alt="Instagram" /></a>
            <a href="https://facebook.com/californiazapatero" target="_blank"><img class="social__image__footer"
                    src="../../../assets/images/facebook.png" alt="Facebook" /></a>
            <a href="#" target="_blank">
                <img class="social__image__footer" src="../../../assets/images/whatsapp.png" alt="Whatsapp" /></a>
            <a href="mailto:californiazapatero@gmail.com" target="_blank">
                <img class="social__image__footer" src="../../../assets/images/email.png" alt="Email" /></a>
        </div>
        <div class="row justify-content-center" style="background-color: #dfc8a5;">copyright Juan Pablo Sauzet 2021
        </div>
    </footer>

    <!-- BOOTSTRAP BUNDLE -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>