<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- DESCRIPCION DEL SITIO WEB -->
  <meta name="description"
    content="Compostura de calzado en Villa Ballester. Plantillas ortopedicas, articulos regionales, mates, termos y más" />
  <!-- PALABRAS CLAVE PARA BUSCADORES -->
  <meta name="keywords"
    content="compostura de calzado, regionales, plantillas ortopedicas, mates, bombillas, arreglo de equipaje, bolsos, mochilas, villa ballester" />
  <!-- META PARA ROBOTS BUSCADORES -->
  <meta name="robots" content="index,follow" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="../../assets/images/logo_california.png" type="Logo California Zapatero">
  <!-- Titulo del Sitio -->
  <title>California Zapatero - Servicios</title>
  <script src="https://kit.fontawesome.com/9316c69995.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,300&display=swap"
    rel="stylesheet">
  <!-- Link a pagina de estilos para Awesome On Scroll -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Link a Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css" rel="stylesheet">
</head>

<body>
  <!-- INICIO HEADER -->
  <header>
    <div class="container">
      <div class="social__icons__header fixed-top justify-content-end">
        <a href="https://instagram.com/californiazapatero" target="_blanck"><img class="social__image__header"
            src="../../assets/images/instagram.png" alt="Instagram" /></a>
        <a href="https://facebook.com/californiazapatero" target="_blank"><img class="social__image__header"
            src="../../assets/images/facebook.png" alt="Facebook" /></a>
        <a href="#" target="_blank">
          <img class="social__image__header" src="../../assets/images/whatsapp.png" alt="Whatsapp" /></a>
        <a href="mailto:californiazapatero@gmail.com" target="_blank">
          <img class="social__image__header" src="../../assets/images/email.png" alt="Email" /></a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top m-auto">
      <div class="container-fluid">
        <a href="../../"> <img src="../../assets/images/logo_california.png" a class="navbar__brand">
        </a>
        <!-- <img src="../../assets/images/logo_california.png" a class="navbar__brand" href="../../"></img> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Productos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="../productos/calzado/">Calzado</a></li>
                <li><a class="dropdown-item" href="../productos/accesorios">Accesorios</a></li>
                <li><a class="dropdown-item" href="../productos/regionales">Mates y Regionales</a>
                </li>
                <li>
              </ul>
            <li class="nav-item">
              <a class="nav-link" href="../servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../quienes_somos">Quienes Somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contacto">Contacto</a>
            </li>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <!-- INICIO MAIN -->
  <main>
    <h1>
      <p class="text-center">Servicios</p>
    </h1>
    <div class="card__container">
      <div class="container-main" style="margin-bottom: 2rem;">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <!-- Bloque -->
              <img class="card__img" src="../../assets/images/plantillas__ortopedicas01.jpg"
                alt="Plantillas Ortopédicas y toma de pedigrafía">
              <div>
                <h3 class="card__title">
                  Plantillas Ortopédicas </h3>
                <p class="card__text">
                  Plantillas ortopédicas realizadas a medida. Con toma de pedigrafía incluída.
                  <a href="#" class="btn btn--primary">Ver más</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <!-- Bloque -->
              <img class="card__img" src="../../assets/images/calzado__cuidado01.jpg"
                alt="Variedad de frascos con tintura de distintos colores para cuidar el calzado">
              <div>
                <h3 class="card__title">
                  Cuidado del Calzado </h3>
                <p class="card__text">
                  Línea completa para cuidar tu calzado y mantenerlo impecable siempre.
                  <a href="#" class="btn btn--primary">Ver más</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <!-- Bloque -->
              <img class="card__img" src="../../assets/images/sandalias-home.jpg"
                alt="Sandalias de cuero con trabajo realizado de cambio de base">
              <div>
                <h3 class="card__title">
                  Compostura de calzado </h3>
                <p class="card__text">
                  Realizamos cambios de fondo y base, y arreglos en general.
                  <a href="#" class="btn btn--primary">Ver más</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <!-- Bloque -->
              <img class="card__img" src="../../assets/images/mate_termo_01.jpeg"
                alt="Termo naranja y mate forrado en cuero">
              <div>
                <h3 class="card__title">
                  Mates y artículos regionales </h3>
                <p class="card__text">
                  Disponemos de un gran surtido de mates, termos, bombillas, cuchillos y artículos regionales <a
                    href="#" class="btn btn--primary">Ver más</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- INICIO FOOTER -->
  <footer>
    <!-- Footer Social Icons -->
    <div class=" social__icons__footer">
      <a href="https://instagram.com/californiazapatero" target="_blanck"><img class="social__image__footer"
          src="../../assets/images/instagram.png" alt="Instagram" /></a>
      <a href="https://facebook.com/californiazapatero" target="_blank"><img class="social__image__footer"
          src="../../assets/images/facebook.png" alt="Facebook" /></a>
      <a href="#" target="_blank">
        <img class="social__image__footer" src="../../assets/images/whatsapp.png" alt="Whatsapp" /></a>
      <a href="mailto:californiazapatero@gmail.com" target="_blank">
        <img class="social__image__footer" src="../../assets/images/email.png" alt="Email" /></a>
    </div>
    <div class="row justify-content-center" style="background-color: #dfc8a5;">copyright Juan Pablo Sauzet 2021
    </div>
  </footer>

  <!-- BOOTSTRAP BUNDLE -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>